#app {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    height: 100vh;

    &.darkmode {
        background-color: #212121;
        color: #f0f0f0;

        @import '../../partials/darkmode';
    }

    @import '../sidebar/sidebar.scss';
    @import '..//content/content.scss';
}
