aside {
    border-right: 1px solid $darkBorderColor;

    #addContainer {
        border-bottom: 1px solid $darkBorderColor;
        width: auto;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        #logo {
            background-image: url('../icons/png/32x32.png');
            width: 32px;
            height: 32px;
        }

        #heading {
            font-size: 25px;
        }
    }
}
